* {
    background-color: #1b1b1b;
    font-family: monospace;
    color: white;
    margin: 1%;
}

.logo {
    height: 200px;
}

button {
    width: 150px;
    height: 40px;
}

button>a {
    text-decoration: none;
}

table {
    font-size: 20px;
    text-align: left;
}