* {
    background-color: #1b1b1b;
    font-family: monospace;
    color: white;
    margin: 1%;
}

p {
    text-align: justify;
}

.main-head {
    text-align: center;
    font-size: 32px;
}

.tag-line {
    font-size: 28px;
}

.tag-line>u:hover {
    text-decoration: none;
}

.articles {
    font-size: 25px;
}

a[href] {
    font-size: 20px;
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}

ul>li>p {
    font-size: 18px;
    width: 80%;
}